doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
  body
    #logo 
    #topsTitle= title
      .tagLine The Audi Auditors Best Friend

    block content
    
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    block jscript
